.card {
	max-width: 640px;
	min-width: 320px;
	background-color: #f8f8f8;
	border:1px dotted #666;
	border-radius: 5px;
	margin: 20px auto;
}

header {
	min-height: 200px;
}

.img-skull {
	width: 140px;
	height: 140px;
	position: absolute;
	top: 5%;
	left: 49%;
	margin-left: -50px;
	border-radius: 75px;
	background-color: #f8f8f8;
	border: 1px dotted;
}

.pantone13 {
	color: #009b77;
}

.text-title {
	font-size: 38.5px;
}

.text-description {
	font-size: 17.5px;
}