body {
	overflow: hidden;
	padding: 2% !important;
}

#cf_image {
	margin:0 auto;
	width:140px;
	height:140px;
	transition: background-image 1s ease-in-out;
	background-image:url("../img/skull.png");
	border-radius: 75px;
	background-color: #f8f8f8;
}

#cf_image:hover {
  background-image:url("../img/skullbmf.png");
}

.pantone13 {
	color: #009b77;
}

.text-title {
	font-size: 38.5px;
}

.text-description {
	font-size: 17.5px;
}

.text-contact {
	font-size: 7.5px;
}

.progress-content {
	padding: 20px;
}


.social {
	padding-top: 20px;
}

.social-primary {
	padding-bottom: 20px;
}

.github {
	width: 64px;
	height: 64px;
	background-image:url("../img/social-media.png");
	background-position:64px -0px;
}

.github:hover {
	background-position:0px -0px;
}

.linkedin {
	width: 64px;
	height: 64px;
	background-image:url("../img/social-media.png");
	background-position:64px -64px;
}

.linkedin:hover {
	background-position:0px -64px;
}

.twitter {
	width: 64px;
	height: 64px;
	background-image:url("../img/social-media.png");
	background-position:64px -128px;
}

.twitter:hover {
	background-position:0px -128px;
}

.google {
	width: 64px;
	height: 64px;
	background-image:url("../img/social-media.png");
	background-position:64px -192px;
}

.google:hover {
	background-position:0px -192px;
}

.facebook {
	width: 64px;
	height: 64px;
	background-image:url("../img/social-media.png");
	background-position:64px -256px;
}

.facebook:hover {
	background-position:0px -256px;
}

.btn-contact {
	width: 100px !important;
}

.footer {
	background-color: #edeff1;
	color: #bac1c8;
	font-size: 15px;
	padding: 0;
	overflow: hidden;
	position: fixed;
	left: 0;
	bottom: 0px;
	right: 0;
	width: 100%;
}
.itemscope {
	overflow: hidden;
	padding-bottom: 1%;
}