/* GENERAL */
body {
	margin: 1%;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background-color: #FFF;
	height: 260px;
}

.fixed-padding {
	padding-top: 200px;
}

.canvas {
	padding: 0;
}

.pantone {
	color: #626ca1;
	margin-bottom: 1%;
	border-bottom: 1px solid #626ca1;
}

.pantona {
	color: #626ca1;
	padding: 0;
	margin: 0;
}

.sr-only {
	font-size: 14px;
	letter-spacing: 4px;
}

/* MAIN */
.skull {
	width: 130px;
	height: 130px;
	margin: 1% auto;
	border-radius: 65px;
	background-image: url("../img/skull.png");
	background-position: 0px -130px;
	background-repeat: no-repeat;
	-webkit-transition: background 300ms ease-in 100ms;
    -moz-transition: background 300ms ease-in 100ms;
    -o-transition: background 300ms ease-in 100ms;
    transition: background 300ms ease-in 100ms;
}

.skull:hover {
	background-position: 0px 0px;
}

/* CENTERED-CONTAINER */
.centered-container {
	margin: 5% 0%;
}

.box-portfolio {
	background-color: #ffffff;
	box-shadow: 1px 1px 1px #d1d3d4;
	padding: 1%;
	border: none;
}

.barter1 {
	width: 100%;
	height: auto;
}

.barter2 {
	width: 100%;
	height: auto;
}

.barter3 {
	width: 100%;
	height: auto;
}

.slaves {
	font-size: 14px;
	opacity: .7;
}

/* FOOTER */
.github {
	min-width: 64px;
	min-height: 64px;
	background-image:url("../img/social-media.png");
	background-position:0px 0px;
}

.github:hover {
	background-position:64px 0px;
}

.linkedin {
	width: 64px;
	height: 64px;
	background-image:url("../img/social-media.png");
	background-position:0px -64px;
}

.linkedin:hover {
	background-position:64px -64px;
}

.twitter {
	width: 64px;
	height: 64px;
	background-image:url("../img/social-media.png");
	background-position:0px -128px;
}

.twitter:hover {
	background-position:64px -128px;
}

.google {
	width: 64px;
	height: 64px;
	background-image:url("../img/social-media.png");
	background-position:0px -192px;
}

.google:hover {
	background-position:64px -192px;
}

.facebook {
	width: 64px;
	height: 64px;
	background-image:url("../img/social-media.png");
	background-position:0px -256px;
}

.facebook:hover {
	background-position:64px -256px;
}